:root {
	--body-text: #434455;
	--Headings: #2E2F42;
	--Accent: #E7E9FC;
	--focus-state: #4D5AE5;
	--background-primary: #FFFFFF;
	--background-secondary: #F4F4FD;
}

/* page index.html */

/* body */
body {
	color: var(--body-text);
	font-family: Roboto, sans-serif;
	background-color: var(--background-primary) ;
	letter-spacing: 0.02em;
	font-size: 16px;
	line-height: 1.5;
}
a {
	text-decoration: none;
 }
ul {
	list-style: none;
}
button {
	font-family: inherit;
	cursor: pointer;
}

/* FOOTER */
/* logo */
.logo {
	color: var(--Headings);
	font-family: 'Raleway';
	letter-spacing: 0.03em;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.3;
	text-transform: uppercase;
}
.logo-span {
	color: var(--focus-state);
}
/* navigation */
.site-nav .link {
	color: var(--Headings);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
}
.site-nav .link:hover {
	color: var(--body-text);
}
.site-nav .link:focus {
	color: var(--focus-state);
}

.contacts-nav .link {
	color: var(--body-text);
	font-size: 16px;
	line-height: 1.5;
}
.contacts-nav .link:hover {
	color: var(--focus-state);
}

/* hero */
.hero {
	background-color: var(--Headings);
}
.hero-title {
	color: var(--background-primary);
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
}
.primary-button {
	background-color: var(--focus-state);
	color: var(--background-primary);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.04em;
}
/* sections */
.title {
	color: var(--Headings);
	font-weight: 600;
	font-size: 36px;
	line-height: 1.1px;
	text-align: center;
	text-transform: capitalize;
}
.sub-title {
	color: var(--Headings);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
}
.team {
	background-color: var(--background-secondary);
}


/* footer */
.footer {
	background-color: var(--Headings);
}
.footer-logo {
	color: var(--background-secondary);
}
.footer-p {
	color: var(--Accent);
}

/* page protfolio */

.filter-menu [type="button"] {
	background-color: var(--Accent);
	color: var(--focus-state);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
}
.portfolio-list {
	color: var(--body-text);
}
